<div ng-controller="CategoriesCtrl">
    <h1 class="page-header">Categories</h1>
    
    <a ng-click="newCategory" href="#/new-category">
		<button type="button" class="btn btn-success">New Category</button>
	</a>
	
    <hr>
    
    <table class="table">
        <thead>
            <tr>
                <th width="25px">ID</th>
                <th>Name</th>
                <th>Description </th>
                <th>Department </th>
                <th width="50px"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in categories">
                <td>{{e.id}}</td>
                <td>{{e.name}}</td>
                <td>{{e.description}}</td>
                <td>{{e.department.name}}</td>
                <td><a ng-click="editProduct($index)">
					    <i class="icon-pencil"></i>
                    </a>             
                    <a ng-click="delPost($index)">
				        <i class="icon-remove-circle"></i>
				    </a>
			    </td>
            </tr>
        </tbody>
    </table>
    
</div>
