<div ng-controller="CategoriesCtrl">
    <h1 class="page-header">Categories</h1>
    
    <a ng-click="newCategory" href="#/new-category">
		<button type="button" class="btn btn-primary">New Category</button>
	</a>
	
    <hr>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="25px">ID</th>
                <th>Name</th>
                <th>Description </th>
                <th width="25px">EDIT</th>
                <th width="25px">DELETE</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in categories">
                <td>{{e.id}}</td>
                <td>{{e.name}}</td>
                <td>{{e.description}}</td>
                <td><a ng-click="editCategory($index)">
					    <i class="fa fa-file-text" aria-hidden="true"></i>
                    </a>
                </td>
                <td>             
                    <a ng-click="delCategory($index)">
						<i class="fa fa-eraser" aria-hidden="true"></i></a>
				    </a>
			    </td>
            </tr>
        </tbody>
    </table>
    
</div>
