<div ng-controller="EditCategoryCtrl">
	
    <form  class="form-horizontal">
    
    <h1 class="page-header">Edit Category - {{category.id}}</h1>
    
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input id="name" type="text" class="input-block-level"
                       required="true" ng-model="category.name"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <input id="description" type="text" class="input-block-level"
                       required="true" ng-model="category.description"></input>
            </div>
        </div>
    </fieldset> 
    
    <div class="form-actions">			
        <button class="btn btn-primary" ng-click="updateCategory()">Add Category</button>
    </div>
    
    </form>

</div>
