<div ng-controller="EditSupplierCtrl">
    <form  class="form-horizontal">
    <h1 class="page-header">Edit Supplier - {{supplier.id}}</h1>
    <fieldset>    
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input id="name" type="text" class="input-block-level"
                       required="true" ng-model="supplier.name"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="url">Web Page</label>
            <div class="controls">
                <input id="url" class="input-block-level" rows="10"
                          ng-model="supplier.url" required="true"></input>
            </div>
        </div>
    </fieldset> 
    <div class="form-actions">			
        <button class="btn btn-primary" ng-click="updateSupplier()">Save</button>
    </div>
    </form>
</div>
