<div ng-controller="SalesCtrl">
    <h1 class="page-header">Sales</h1>
    
	<div>
       <a ng-click="newSale" href="#/new-sale">
			<button type="button" class="btn btn-primary">New Sale</button>
	   </a>
    </div>
    <hr>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="25px">ID</th>
                <th>EMPLOYEE </th>
                <th>CUSTOMER </th>
                <th>SUB </th>
                <th>TAX</th>
                <th>TOTAL </th>
                <th width="25px">EDIT</th>
                <th width="25px">DELETE</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in sales">
                <td>{{e.id}}</td>
                <td>{{e.employee.first_name}}</td>
                <td>{{e.customer.name}}</td>
                <td>{{e.subtotal | currency}}</td>
                <td>{{e.tax | currency}}</td>
                <td>{{e.amount | currency}}</td>
                <td>
					<a ng-click="editSale($index)">
						<i class="fa fa-file-text" aria-hidden="true"></i>
					</a>
				</td>
				<td>
                    <a ng-click="editSale($index)">
						<i class="fa fa-eraser" aria-hidden="true"></i>
					</a>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
