<div ng-controller="SuppliersCtrl">
    <h1 class="page-header">Suppliers</h1>
    <div>
       <a ng-click="newSupplier" href="#/new-supplier">
			<button type="button" class="btn btn-primary">New Supplier</button>
	   </a>
    </div>
    <hr>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="25px">ID</th>
                <th>Name</th>
                <th>Web Page </th>
                <th width="25px">EDIT</th>
                <th width="25px">DELETE</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in suppliers">
                <td>{{e.id}}</td>
                <td>{{e.name}}</td>
                <td>{{e.url}}</td>
                <td><a ng-click="edit($index)">
					    <i class="fa fa-file-text" aria-hidden="true"></i>
                    </a>
                </td>
                <td>             
                    <a ng-click="del($index)">
				        <i class="fa fa-eraser" aria-hidden="true"></i></a>
				    </a>
			    </td>
            </tr>
        </tbody>
    </table>
    
</div>
